/*----- 全局样式 -----*/
*{margin: 0;padding: 0;font-size: 12px;color: #333;}
body{overflow-x: hidden;}
ul li,ol li{list-style: none;}
a{text-decoration: none;}
.clear{clear: both;}
/*----- 首页start -----*/
.index .header{width: 1200px;height: 197px;margin: 0 auto;}
.index .header .logo{text-align: center;padding-top: 18px;}
.index .header .nav {width: 480px;height: 80px;margin: 0 auto;}
.index .header .nav ul li{width: 56px;margin: 0 20px;float: left;line-height: 80px;text-align: center;}
.index .header .nav ul li a{font-size: 14px;}
.index .header .nav ul li a:link,.index .header .nav ul li a:visited{color:#333;}
.index .header .nav ul li a:hover,.index .header .nav ul li a:active{color:red;}

.index .introduction{position: relative;}
.index .introduction .bg-red{background-color: #ea5858;width: 50%;height: 1084px;}
.index .introduction .bg-plane{background-color: #ea5858;background: url(../img/plane.png) no-repeat;width: 1278px;height: 1084px;margin-left: -284px;position: absolute;top:0;}
.index .introduction .introduction-box{width: 1200px;height: 1084px;position: absolute;top: 0;left: 50%;margin-left: -600px;}
.index .introduction .introduction-box .info-box{position: relative;height: 1084px;}
.index .introduction .introduction-box .info-box .title{position: absolute;top: 360px;left: 0;color: #fff;font-size: 20px;}
.index .introduction .introduction-box .info-box .more-course{width: 118px;height: 48px;border: 1px solid #fff;border-radius:30px;text-align: center;line-height: 48px;font-size: 20px;color: white;position: absolute;top: 960px;left: 200px;}
.index .introduction .introduction-box .info-box .info{position: absolute;width: 310px;height: 344px;top: 780px;right: 0;color: #333;font-size: 16px;}

.index .course{width: 1200px;height: 1390px;margin: 0 auto;padding-top: 110px;}
.index .course .course-box ul li{width: 240px;height: 186px;float: left;padding: 0 80px 50px;}
.index .course .course-box .course-item .course-icon{width: 80px;height: 75px;margin: 0 auto;}
.index .course .course-box .course-item .course-title{text-align: center;font-size: 14px;}
.index .course .course-box .course-item .course-desc{text-align: center;}
.index .course .course-box .course-item .course-more{text-align: center;}
.index .course .content-box{width: 1200px;height: 889px;position: relative;}
.index .course .content-box .desc-left{width: 558px;padding-top: 238px;padding-left: 34px;}
.index .course .content-box .desc-left h2{font-size: 40px;color: #ea5858;font-weight: normal;}
.index .course .content-box .desc-left .heshi-text{width: 416px;height: 80px;font-size: 18px;color: #333;margin-top: 60px;}
.index .course .content-box .desc-left .button{width: 118px;height: 48px;border-radius:30px;background-color:#ea5858;text-align: center;line-height: 48px;margin-top: 20px;font-size: 20px;color: white;}
.index .course .content-box .lion-right{position: absolute;bottom: 0;right: -118px;}

.index .news{width: 1200px;height: 898px;padding-top: 150px;margin: 0 auto;}
.index .news .news-center{font-size: 48px;color: #ea5858;margin-top: 30px;}
.index .news .news-pic ul li{float: left;padding: 0 12px;margin-top: 100px;}
.index .news .more-news{width: 118px;height: 48px;border-radius:30px;background-color:#ea5858;text-align: center;line-height: 48px;margin: 60px auto;font-size: 20px;color: white; }

.index .contact{position: relative;width: 1200px;margin: 0 auto;}
.index .contact .line-left{width: 192px;height: 14px;background-color:#ea5858;position: absolute;top: 320px;}
.index .contact .line-right{width: 14px;height: 120px;background-color:#ea5858;position: absolute;top: 880px;right: 150px;}
.index .contact .bg{display: block;position: absolute;top: -70px;left: 50%;margin-left: -960px;z-index: -1;}
.index .contact .contact_us{font-size: 48px;color: #ea5858;margin-top: 30px;color: #fff;}
.index .contact .bg_box{width: 1000px;height: 536px;background-color: rgba(0,0,0,0.5);margin: 90px auto;padding: 60px 74px;}
.index .contact .bg_box .hswh-title{font-size: 48px;color: #fff;text-align: center;}
.index .contact .bg_box .add, .post{font-size: 26px;color: #fff;margin: 20px 0;}
.index .contact .bg_box .tel{width: 380px;height: 56px;margin-top: 40px;}
.index .contact .bg_box .tel .icon{float: left;}
.index .contact .bg_box .tel .number{float: right;color: #fff;font-size: 40px;}
.index .contact .bg_box .click-more{width: 178px;height: 26px;float: right;margin-top: 40px;margin-right: 170px;}
.index .contact .bg_box .click-more .click-text{font-size: 24px;line-height: 26px;color: #fff;float: left;}
.index .contact .bg_box .click-more .click-icon{float: right;}

.index .footer{width: 100%;height: 270px;background-color: #c8c8c8;}
.index .footer .footer-bg{width: 1200px;height:270px;background-color: #c8c8c8;margin: 0 auto;}
.index .footer .footer-bg .footer-logo{width: 154px;height: 154px;display: block;margin-top: 60px;float: left;}
.index .footer .footer-bg .footer-line{width: 2px;height: 238px;background-color: #999;float: left;margin-left: 108px;margin-top: 15px;}
.index .footer .footer-bg .footer-contact{width: 240px;height: 238px;float: left;margin-left: 108px;margin-top: 15px;}
.index .footer .footer-bg .footer-contact .contact-us-title{font-size: 16px;font-weight:bold;}
.index .footer .footer-bg .footer-contact .contact-us-eng{font-size: 16px;margin-top: 10px;}
.index .footer .footer-bg .footer-contact .tel-number-title{font-size: 16px;font-weight:bold;margin-top: 45px;}
.index .footer .footer-bg .footer-contact .service-tel-number{font-size: 16px;font-weight: bold;margin-top: 10px;}
.index .footer .footer-bg .footer-contact .footer-add{font-size: 16px;margin-top: 35px;}
.index .footer .footer-bg .footer-contact{width: 240px;height: 238px;float: left;margin-left: 108px;margin-top: 15px;}
.index .footer .footer-bg .footer-about{width: 104px;height: 178px;margin-left: 108px;margin-top: 15px;float: left;}
.index .footer .footer-bg .footer-about .about-us-title{font-size: 16px;font-weight:bold;}
.index .footer .footer-bg .footer-about .about-us-eng{font-size: 16px;margin-top: 10px;}
.index .footer .footer-bg .footer-about .about-us-info{font-size: 16px;margin-top: 35px;}
.index .footer .footer-bg .footer-about .about-us-cul{font-size: 16px;margin-top: 25px;}
.index .footer .footer-bg .footer-focus{position: relative;width: 188px;height: 238px;margin-top: 15px;float: right;;}
.index .footer .footer-bg .footer-focus .focus-us-title{font-size: 16px;font-weight:bold;}
.index .footer .footer-bg .footer-focus .focus-us-eng{font-size: 16px;margin-top: 10px;}
.index .footer .footer-bg .footer-focus .qr-code{position: absolute;left: 0;bottom: 0}

.index .copyright{width: 1200px;height: 80px;margin: 0 auto;color: #666;font-size: 16px;text-align: center;line-height: 80px;}

/*----- 首页end -----*/

/*----- 关于我们start -----*/
.about-us .banner{width: 1200px;height: 1080px;position: relative;margin: 0 auto;;}
.about-us .banner .about-us-banner{width: 1920px;height: 1080px;position: absolute;display: block;top: 0;left: 50%;margin-left: -960px;}
.about-us .banner .banner_logo{position: absolute;top:80px;left: 360px;z-index: 9}

.about-us .heshi-tech{width: 1200px;height: 1080px;position: relative;margin: 0 auto;}
.about-us .heshi-tech .heshi-tech-bg{display: block;position: absolute;left: 50%;top: 0;margin-left: -960px;}
.about-us .heshi-tech .tech-box{height: 1080px;z-index: 999;position: absolute;top: 0;left: 0;}
.about-us .heshi-tech .tech-box .heshi-tech-title{width: 162px;height: 50px;font-size: 40px;position: absolute;top: 220px;left: 0;}
.about-us .heshi-tech .tech-box .heshi-tech-info{width: 612px;height: 648px;font-size: 20px;position: absolute;top: 400px;left: 0;}
.about-us .heshi-tech .tech-box .heshi-tech-logo{position: absolute;top:480px;left: 730px;}

.about-us .brand-summary .summary-box{width: 1200px;height: 1080px;margin: 0 auto;position: relative;}
.about-us .brand-summary .summary-box .summary-title{width: 162px;height: 50px;font-size: 40px;position: absolute;top: 150px;left: 0;}
.about-us .brand-summary .summary-box .summary-info{width: 500px;height: 620px;font-size: 20px;position: absolute;top: 320px;left: 0;}
.about-us .brand-summary .summary-box .summary-pic{position: absolute;top: 160px;right: 0;}

.about-us .brand-target{width: 1920px;height: 1080px;position: relative;margin: 0 auto;background-color: #f8f8f8;}
.about-us .brand-target .target-box{width: 1200px;height: 1080px;position: absolute;top: 0;left: 50%;margin-left: -888px;}
.about-us .brand-target .target-box .target-title{width: 162px;height: 50px;font-size: 40px;position: absolute;top: 154px;right: 336px;}
.about-us .brand-target .target-box .target-info{width: 500px;height: 420px;font-size: 20px;position: absolute;top: 360px;right:0;}
.about-us .brand-target .target-box .target-pic{position: absolute;top: 160px;left: 0;}

.about-us .working-environment{width: 100%;height: 1080px;margin: 0 auto;position: relative;}
.about-us .working-environment .work-bg{width: 1200px;height: 1080px;display: block;position: absolute;left: 50%;top: 0;margin-left: -604px;}
.about-us .working-environment .work-box{width: 1200px;height: 1080px;position: absolute;top: 0;left: 50%;margin-left: -604px;}
.about-us .working-environment .work-title{font-size: 40px;text-align: center;margin-top: 48px;}
.about-us .working-environment .work-info{font-size: 20px;text-align: center;margin-top: 40px;}
.about-us .working-environment .work-pic1{position: absolute;top: 280px;left: 0;}
.about-us .working-environment .work-pic2{position: absolute;top: 280px;right:0;}
.about-us .working-environment .work-pic3{position: absolute;top: 632px;right:0;}

.about-us .working-pic .work-pic-box{width: 1200px;height: 1080px;margin: 0 auto;position: relative;}
.about-us .working-pic .work-pic-box .work-pic4{position: absolute;top: 100px;left: 0;}
.about-us .working-pic .work-pic-box .work-pic5{position: absolute;top: 200px;left:242px;}
.about-us .working-pic .work-pic-box .work-pic6{position: absolute;top: 100px;left:484px;}
.about-us .working-pic .work-pic-box .work-pic7{position: absolute;top: 200px;left:726px;}
.about-us .working-pic .work-pic-box .work-pic8{position: absolute;top: 100px;left:968px;}
.about-us .working-pic .work-pic-box .work-heshicultural-text{position: absolute;top: 350px;left:50px;}

.about-us .footer{width: 100%;height: 270px;background-color: #c8c8c8;}
.about-us .footer .footer-bg{width: 1200px;height:270px;background-color: #c8c8c8;margin: 0 auto;}
.about-us .footer .footer-bg .footer-logo{width: 154px;height: 154px;display: block;margin-top: 60px;float: left;}
.about-us .footer .footer-bg .footer-line{width: 2px;height: 238px;background-color: #999;float: left;margin-left: 108px;margin-top: 15px;}
.about-us .footer .footer-bg .footer-contact{width: 240px;height: 238px;float: left;margin-left: 108px;margin-top: 15px;}
.about-us .footer .footer-bg .footer-contact .contact-us-title{font-size: 16px;font-weight:bold;}
.about-us .footer .footer-bg .footer-contact .contact-us-eng{font-size: 16px;margin-top: 10px;}
.about-usindex .footer .footer-bg .footer-contact .tel-number-title{font-size: 16px;font-weight:bold;margin-top: 45px;}
.about-us .footer .footer-bg .footer-contact .service-tel-number{font-size: 16px;font-weight: bold;margin-top: 10px;}
.about-us .footer .footer-bg .footer-contact .footer-add{font-size: 16px;margin-top: 35px;}
.about-us .footer .footer-bg .footer-contact{width: 240px;height: 238px;float: left;margin-left: 108px;margin-top: 15px;}
.about-us .footer .footer-bg .footer-about{width: 104px;height: 178px;margin-left: 108px;margin-top: 15px;float: left;}
.about-us .footer .footer-bg .footer-about .about-us-title{font-size: 16px;font-weight:bold;}
.about-us .footer .footer-bg .footer-about .about-us-eng{font-size: 16px;margin-top: 10px;}
.about-us .footer .footer-bg .footer-about .about-us-info{font-size: 16px;margin-top: 35px;}
.about-us .footer .footer-bg .footer-about .about-us-cul{font-size: 16px;margin-top: 25px;}
.about-us .footer .footer-bg .footer-focus{position: relative;width: 188px;height: 238px;margin-top: 15px;float: right;;}
.about-us .footer .footer-bg .footer-focus .focus-us-title{font-size: 16px;font-weight:bold;}
.about-us .footer .footer-bg .footer-focus .focus-us-eng{font-size: 16px;margin-top: 10px;}
.about-us .footer .footer-bg .footer-focus .qr-code{position: absolute;left: 0;bottom: 0}

.about-us .copyright{width: 1200px;height: 80px;margin: 0 auto;color: #666;font-size: 16px;text-align: center;line-height: 80px;}
/*----- 关于我们end -----*/

/*----- 和十课程start -----*/
.heshikecheng .header{width: 1200px;height: 197px;margin: 0 auto;}
.heshikecheng .header .logo{text-align: center;padding-top: 18px;}
.heshikecheng .header .nav {width: 480px;height: 80px;margin: 0 auto;}
.heshikecheng .header .nav ul li{width: 56px;margin: 0 20px;float: left;line-height: 80px;text-align: center;}
.heshikecheng .header .nav ul li a{font-size: 14px;}
.heshikecheng .header .nav ul li a:link,.index .header .nav ul li a:visited{color:#333;}
.heshikecheng .header .nav ul li a:hover,.index .header .nav ul li a:active{color:red;}

.heshikecheng .banner{position: relative;margin: 0 auto;}
.heshikecheng .banner .heshikecheng-banner{width: 100%;height: auto;position: absolute;top: 0;left: 0;}
.heshikecheng .banner .curriculum-text{position: absolute;top: 160px;left: 50%;margin-left: -167px;}
.heshikecheng .banner .heshikecheng-title{position: absolute;top: 300px;left: 50%;margin-left: -80px;font-size: 40px;color: red;font-weight: solid;}
